.beda {
   background: #f1f3ff;
}
.biru {
   background-color: #0d28a6;
   color: white;
   padding: 20px; /* Add padding for better spacing */
   text-align: center;
   width: 100%;
   max-width: 1000px;
}
.kontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
header {
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: white;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
